@model TrungTamAnhNgu.Web.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxStudents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxStudents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
